<!DOCTYPE html>
<html>
<head>
    <title>Create product</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header>Create product</header>

<div class="container">
    <form method="POST">
        <div>
            <label>Model:</label><br>
            <input name="model">
        </div>

        <div>
            <label>Company:</label><br>
            <input name="company">
        </div>

        <div>
            <label>Price:</label><br>
            <input name="price" type="number">
        </div>

        <button type="submit">Create</button>
    </form>
</div>

</body>
</html>
